<div class="card">
  <a routerLink="/product/{{id}}">
    <div class="card__image">
      <img [src]="product.images[0]" alt="product" />
    </div>
    <div class="card__body">
      <div>
        <span [class]="product.rating?'card__rating':'visually-hidden'">
          {{product.rating}}
          <img src="../assets/images/star.svg" alt="star icon" />
        </span>
        <span class="card__price">{{product.price | currency:'UAH':'code':'0.0'}}</span>
      </div>
      <h4 class="card__title">{{product.title}}</h4>
    </div>
  </a>
  <div class="card__footer">
    <button class="card__button card__button_wishlist" (click)="addToWishlist()">
      <img [src]="!product.inWishlist
      ? '../assets/images/heart.svg'
      :'../assets/images/heart_2.svg'" alt="in wishlist" />
      Wishlist
    </button>
    <button class="card__button card__button_cart" (click)="addToCart()">
      <img src="../assets/images/shopping-bag.svg" alt="add to cart" />
      Add to cart
      {{this.product.quantity?' ('+this.product.quantity+')':''}}
    </button>
  </div>
</div>