<form class="search" submit={onSubmit}>
  <div class="search__results">
    <p>{{results}} results found</p>
    <a routerLink="/wishlist">
      <button class="search__button-like">
        <img [src]="!wishfulProducts.length?'../assets/images/like.svg':'../assets/images/like_2.svg'"
          alt="see wishlist" />
      </button>
    </a>
  </div>
  <label htmlFor="search-input" hidden>Search</label>
  <input input="props.debouncedOnInput()" name="search" class="search__input" id="search-input" type="text"
    placeholder="Search" [(ngModel)]="value" (ngModelChange)="modelChange()" />
  <img class="search__image" src="../assets/images/search.svg" alt="search icon" />
</form>