@use '../../../assets/styles/vars' as *;
@use '../../../assets/styles/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }

  &__logo-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    width: 65px;

    &:hover {
      cursor: pointer;
    }    
  }

  &__title {
    @include text-format(600, 2rem);
    color: $primary-color;
    
    @media screen and (min-width: 720px) {
      @include text-format(600, 3rem);
    }
  }

  &__cart-image:hover {
    cursor: pointer;
  }
}