@use '../../../assets/styles/vars' as *;
@use '../../../assets/styles/mixins' as *;
    
.filter-form__clear-button {
  width: 100%;
  padding: 17px;
  text-transform: uppercase;
  border: none;
  color: $white;
  background: $bg-primary;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  @include text-format(400, 1rem);

  &:hover {
    cursor:pointer;
    box-shadow: $box-shadow-hover;
  }
}