<div class="filter-form">
  <h3 class="filter-form__title">Filters
    <button class="filter-form__button" type="text">&lt;&lt;</button>
  </h3>
  <div class="filter-form__list-wrapper">
    <div class="filters">
      <div *ngIf="price">
        <app-double-slider [price]="price" title="Price" #slider></app-double-slider>
      </div>
      <hr>
      <div *ngIf="categories">
        <app-filter [filters]="categories" title="Category" #sections></app-filter>
      </div>
      <hr>
      <div *ngIf="brands">
        <app-filter [filters]="brands" title="Brand" #sections></app-filter>
      </div>
    </div>
    <div *ngIf="!(price||categories||brands)">No Filters to show</div>
  </div>
  <button class="filter-form__clear-button" (click)="clearAllFilters()">
    Clear all filters
  </button>
</div>